body{
  width: 1050px;
  margin: auto;
}

.container{
  width: 1050px;
  margin: auto;
}

header{
  width: 100%;
  height: 100px;
  background-image: url("../img/pattern.png");
  background-color:#4ea0ff ;
  background-size: 400px;
}

div header img{
  width: 150px;
  margin-left: 5px;
  margin-top: 60px;
}

.autore{
  color: gray;
}

.colore-the-booleaner{
  color: #4ea0ff;
}

.descrizione-foto{
  font-size: 10px;
}

.sfondo-scritta{
  background-color: yellow;
}